<% if @villain.super_strength || @villain.healing_factor || @villain.invulnerability || @villain.duplication || @villain.dynamic_camouflage || @villain.invisibility %>
   <section class="widget">
      <strong>Physical Powers:</strong><br>
            <% if @villain.super_strength %>
               <div class="physicalPowers">
                  <strong><p>Super Strength</p></strong>
               </div>
            <% end %>
            <% if @villain.healing_factor %>
               <div class="physicalPowers">
                  <strong><p>Super Strength</p></strong>
               </div>
            <% end %>
            <% if @villain.invulnerability %>
               <div class="physicalPowers">
                  <strong><p>Invulnerability</p></strong>
               </div>
            <% end %>
            <% if @villain.duplication %>
               <div class="physicalPowers">
                  <strong><p>Duplication</p></strong>
               </div>
            <% end %>
            <% if @villain.dynamic_camouflage %>
               <div class="physicalPowers">
                  <strong><p>Dynamic_camouflage</p></strong>
               </div>
            <% end %>
            <% if @villain.invisibility %>
            <div class="physicalPowers">
               <strong><p>Invisibility</p></strong>
            </div>
            <% end %>
   </section>
<% end %>

<% if @villain.enhanced_awarness || @villain.enhanced_durability || @villain.enhanced_marksmanship || @villain.duplication || @villain.enhanced_senses || @villain.enhanced_reflexes %>
   <section class="widget">
      <strong>Enhanced Abilites:</strong><br>
      <% if @villain.enhanced_awarness %>
         <div class="enhancedAbilites">
            <strong><p>Enhanced Awarness</p></strong>
         </div>
      <% end %>
      <% if @villain.enhanced_durability %>
         <div class="enhancedAbilites">
            <strong><p>Enhanced Durability</p></strong>
         </div>
      <% end %>
      <% if @villain.enhanced_marksmanship %>
         <div class="enhancedAbilites">
            <strong><p>Enhanced Marksmanship</p></strong>
         </div>
      <% end %>
      <% if @villain.enhanced_senses %>
         <div class="enhancedAbilites">
            <strong><p>Enhanced Senses</p></strong>
         </div>
      <% end %>
      <% if @villain.enhanced_reflexes %>
         <div class="enhancedAbilites">
            <strong><p>Enhanced Reflexes</p></strong>
         </div>
      <% end %>
   </section>
<% end %>

<% if @villain.clairvoyance || @villain.energy_manipulation || @villain.immortality || @villain.mental_projection || @villain.psychic || @villain.superhuman_intelligence || @villain.time_travel || @villain.telepathy %>
   <section class="widget">
      <strong>Mental Based Abilites</strong><br>
      <% if @villain.clairvoyance %>
         <div class="mentalBased">
            <strong><p>Clairvoyance</p></strong>
         </div>
      <% end %>
      <% if @villain.energy_manipulation %>
         <div class="mentalBased">
            <strong><p>Energy Manipulation</p></strong>
         </div>
      <% end %>
      <% if @villain.immortality %>
         <div class="mentalBased">
            <strong><p>Immoratality</p></strong>
         </div>
      <% end %>
      <% if @villain.mental_projection %>
         <div class="mentalBased">
            <strong><p>Mental Projection</p></strong>
         </div>
      <% end %>
      <% if @villain.psychic %>
         <div class="mentalBased">
            <strong><p>Psychic</p></strong>
         </div>
      <% end %>
      <% if @villain.superhuman_intelligence %>
         <div class="mentalBased">
            <strong><p>Superhuman Intelligence</p></strong>
         </div>
      <% end %>
      <% if @villain.time_travel %>
         <div class="mentalBased">
            <strong><p>Time Travel</p></strong>
         </div>
      <% end %>
      <% if @villain.telepathy %>
         <div class="mentalBased">
            <strong><p>Telepathy</p></strong>
         </div>
      <% end %>
      <% if @villain.teleportation %>
         <div class="mentalBased">
            <strong><p>Teleporation</p></strong>
         </div>
      <% end %>
   </section>
<% end %>