// Place all the styles related to the Villains controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#villainsMain{
  width: 100%;
  min-width: 700px;
  margin: 0px;
  display: block;
  padding: 0px;
}
#footer{
  border-top: 10px solid #f44336;
  text-align: center;
  display: block;
  float: left;
  width: 100%;
  overflow:hidden;
}
#Profile_Tab{
  position: relative;
  top: 13px;
}
li{
  height: 100%;
}
.pull-right{
  position: relative;
  left: 40%;
}

/* --------------------------------------------------------------------------------------- */
* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  height: 70%;
  position: relative;
  margin: auto;
  overflow: hidden;
}

.mySlides {
  display: none;
  padding: 0px 50px;
  overflow: hidden;
} 
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: #606060;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  color: #f44336;
}

/* Caption text */
.text {
  color: #606060;
  font-size: 15px;
  padding: 8px 12px;
  width: 100%;
  text-align: center;
  
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #f44336;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* Form questions */
.powers{
  overflow: hidden;
  
  padding: 7px;
  border: 1px solid #f44336;
  
}
/*--------------------------- Show.css ----------------------------------*/
#banner{
  margin: 1% 0px;
  height: 150px;
  position: relative;
  padding: 0% 9%;
  //background-image: url(/assets/Villains.png);
}
#img{
  position: absolute;
  bottom: -60px;
}
#name{
  position: absolute;
  left: 380px;
  top: 110px;
  color: #4d4d4d;
}
#User-Options{
  width: 100%;
  height: 60px;
  margin: 0px;
  background-color: #C52F24;
  float: left;
  padding-left: 20%;
  overflow: hidden;
}
#User-Options nav ul li a{
  color: white;
  text-decoration: none;
}
.profileBtn{
  color: #FFFFFF;
  font-size: 18px;
   text-transform: uppercase;
   text-align: center;
   background: #C52F24;
   padding: auto;
   border: 0;
   width: 100%;
   height: 100%;
}
#widgetsContain{
  display: block;
  float: left;
  padding: 2% 9%;
  width: 100%;
  
}
.widget{
  box-shadow: 10px 10px 5px #888888;
  background-color: white;
  color: #4d4d4d;
  margin: 40px 0px;
}
.physicalPowers{
  background-color: #C52F24; /* Red */
  border: none;
  color: white;
  padding: 0px 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.enhancedAbilites{
  background-color: #2494c5; /* Green */
  border: none;
  color: white;
  padding: 0px 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.mentalBased{
  background-color: #7124c5; /* Purple */
  border: none;
  color: white;
  padding: 0px 10px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}