<h1>Listing Feedback</h1>
 <%= link_to 'Back to home page', controller: "home", action: "index" %>
 
<table>
  <tr>
    <th>Title</th>
    <th>Text</th>
  </tr>
 
  <% @feedback.each do |feedback| %>
    <tr>
      <td><%= feedback.title %></td>
      <td><%= feedback.text %></td>
      <td><%= link_to 'Show', feedback_path(feedback) %></td>
    </tr>
  <% end %>
</table>